<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <meta name="description" content={{description}}>
    <meta name="author" content="Bijaya Gautam">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="/">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css?v=1.0">
    <script src="https://kit.fontawesome.com/9e54110656.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="main-header">
        <nav class="navbar">
            {{!-- Logo --}}
            <div class="logo-container" >
                <a href="/"><img src="/img/oneTnine_Tech_logo_White.svg" alt="oneTnine tech logo" class="logo"></a>
                <a href="/" class="logo-txt">TECH</a>
            </div>
        
            {{!-- Hamburger menu --}}
            <div class="ham-menu">
                <a href="#"><i class="fas fa-bars hambar" id="hamMenu"></i></a>
            </div>
            
            {{!-- Main Menu --}}
            <div class="nav-menus">
                <hr class="bar">
                <ul class="main-menu show-hide" id="mainMenu">
                    <li><a href="/">HOME</a></li>
                    <li><a href="/aboutUs">ABOUT US</a></li>
                    <li><a href="/services">SERVICES</a></li>
                    <li><a href="/user/contact">CONTACT</a></li>
                    {{!-- <li><a href="/careers">CAREERS</a></li> --}}
                </ul>
            </div>
        </nav>   
    </header>
    
    {{!-- Main Page Content --}}
    <main class="main-content">
       {{{body}}}
    </main>

    <!-- Main Footer Area -->
    <footer class="main-footer">
        <div class="quick-link">
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/aboutUs">ABOUT US</a></li>
                <li><a href="/services">SERVICES</a></li>
                <li><a href="/user/contact">CONTACT</a></li>
                {{!-- <li><a href="/careers">CAREERS</a></li> --}}
            </ul>
        </div>

        <div class="social-media">
            <ul>
                <li><a href="#"><i class="fab fa-facebook-f" ></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-snapchat"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></i></a></li>

            </ul>
        </div>

        <div class="business-info">
            <ul>
                <li><a href="#">Terms and Conditions</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="/contact">Request a Quote</a></li>
                <li><a href="/contact">Request Consultation</a></li>
                <li><a href="#">&copy; 2020 oneTnine</a></li>

            </ul>
        </div>
    </footer>
    <script src="/js/index.js"></script>
</body>
</html>