/* IMPORTS */
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&display=swap");

/* VARIABLES */
:root {
    --business-theme: #0F4C81;
    --business-theme-fg: #FFFFFF;
    --business-theme-accent-one: #35678C;
    --business-theme-accent-two: #42556F;
    --business-form: rgb(197, 220, 252);
    --errormessage: #ee3d1e;
    --successmessage: #048b10;

    --validation-message-font: 'Noto Serif', serif;
    --business-mainFont: 'Source Sans Pro', 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* GENERAL CSS */
a{
    text-decoration: none;
}

/* CSS FOR MAIN HEADER */
.main-header{
    background-color: var(--business-theme);
    color: var(--business-theme-fg);
    font-family: var(--business-mainFont);
}

.navbar {
    display: grid;
    grid-template-columns: auto 4em;
    grid-template-areas:  "logo menudrop"
                          "menu menu";                     
}

.logo-container{
    display: grid;
    grid-template-columns: 3em auto;
    grid-template-areas:  "img txt";
    font-size: 2.2em;
}

.logo {
    grid-area: logo;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

.logo-txt{
    grid-area: txt;
    padding-top: 0.9em;
    color: var(--business-theme-fg);
}

.ham-menu {
    grid-area: menudrop;
    text-align: center;
    padding: 0.7em 0.2em 0 0;
    font-size: 2.5em;
}

.nav-menus{
    grid-area: menu;
    color: var(--business-theme-fg);
}

.main-menu a {
    color: var(--business-theme-fg);
    display: block;
    line-height: 2.7;
    text-align: center;
}

.hambar{
    color: var(--business-theme-fg);
}

.bar{
    font-size: 1em;
}

/* CSS FOR BODY CONTENT */
.error-message{
    color: var(--errormessage);
    font-family: var(--validation-message-font);
    padding: 0 0 1em 0;
    font-size: 0.9rem;
}

.success-message{
    color: var(--successmessage);
    font-family: var(--validation-message-font);
    padding: 1em 0 1em 0;
    font-size: 0.9rem;
}

.invalid-route{
    font-size: 2em;
    text-align: center;
    padding: 3em;
}

.tag{
    background-color: var(--business-theme);
    color: var(--business-theme-fg);
    font-family: var(--business-mainFont);
    padding: 6em 0;
}

.tagline{
    text-transform: uppercase;
    text-align: center;
    margin: 0 0.5em;
    letter-spacing: 0.1em;
}

.tg-one{
    font-weight: lighter;
    font-size: 1.4em;
}

.tg-two{
    font-weight: bolder;
    font-size: 1.5em;
}

.consult{
    padding-top: 1em;
    text-align: center;
}

.consult-btn{
    background-color: var(--business-theme);
    color: var(--business-theme-fg);
    font-family: var(--business-mainFont);
    padding: 0.5em;
    font-size: 1.2em;
    border: 1px solid rgb(255, 255, 255);
}

.section-header{
    color: var(--business-theme);
    text-transform: uppercase;
    font-size: 1.6em;
    font-weight: bolder;
    font-family: var(--business-mainFont);
    padding: 0.7em;
}

.sec-container{
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: 0 auto;
}

.sec-container-grid{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    justify-items: center;
    align-items: center;
    /* place-items: center center; */
}

.sec-par{
    text-transform: uppercase;
    font-family: var(--business-mainFont);
    text-align: center;
    justify-items: center;
    padding: 1em;
    font-size: 1.2em;
}

.sec-details{
    padding: 1em;
    font-family: var(--business-mainFont);
}

.sec-container-grid img{
    max-width: 10em;
}

.packages-sec{
    background-color: var(--business-theme-accent-one);
    color: var(--business-theme-fg);
    font-family: var(--business-mainFont);
}

.packages-header{
    color: var(--business-theme-fg);
}

.packages{
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    text-align: center;
    justify-items: center;
    align-items: center;
}

.packagecontainer{
    position: relative;
    width: 250px;
    height: 250px;
    margin-bottom: 3em;
}

.thecard{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.thecard:hover{
    transform: rotateY(180deg);
}

.thefront{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    color: var(--business-theme-accent-one);
    background-color: var(--business-theme-fg);
    text-align: center;
    border-radius: 50%;
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 4.5em;
}

.theback{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    text-align: center;
    border-radius: 50%;
    font-size: 1.5em;
    font-weight: bold;
    transform: rotateY(180deg);
    padding-top: 4.5em;
}

.base-back{
    background: rgb(237, 248, 189);
}

.combo-back{
    background: rgb(189, 239, 248);
}

.allin-back{
    background: rgb(189, 248, 194);
}

.card-btn{
    color: black;
    padding: 0.3em;
    font-size: 1.2em;
    border: 1px solid rgb(0, 0, 0);
}

.user-entry-form{
    text-align: center;
    max-width: 25em;
    min-width: 20em;
    padding: 0.5em;
    border-radius: 0.2em;
}

.form-header{
    font-size: 1.5em;
    color: var(--business-theme-accent-one);
    font-family: var(--business-mainFont);
    padding-top: 1.5em;
    padding-bottom: 1em;
}

.form-box input{
    width: 80%;
    padding: 0.8em;
    border-radius: 0.2em;
    border: 0 solid;
    background-color: var(--business-form);
    padding-left: 1em;
}

.form-button{
    background-color:var(--business-theme);
    color: var(--business-theme-fg);
    font-family: var(--business-mainFont);
    padding: 0.5em;
    text-align: center;
    font-size: 1em;
    border: none;
    border-radius: 0.3em;
    text-transform: uppercase;
    width: 80%;
    letter-spacing: 0.15em;
}

.about-sec{
    padding: 1em;
    font-size: 1.2em;
}

.page-header{
    font-size: 1.5em;
    color:var(--business-theme);
    font-family: var(--business-mainFont);
    font-weight: bolder;
    text-align: center;
}

.about-us{
    font-size: 1em;
    font-family: var(--business-mainFont);
    line-height: normal;
    padding: 1em;
    letter-spacing: 0.05em;
}

.about-sec ul{
    list-style-type: circle;
    list-style-position: outside;
    margin-left: 3.5em;
    letter-spacing: 0.05em;
    font-family: var(--business-mainFont);
}

.focus-services p{
    font-weight: bolder;
    font-family: var(--business-mainFont);
    color:var(--business-theme);
    margin-left: 1em;
}

/* CSS FOR MAIN FOOTER */
.main-footer{
    background-color: var(--business-theme-accent-two);
    color: var(--business-theme-fg);
    font-family: var(--business-mainFont);
    padding-bottom: 1em;
    line-height: 1.7rem; 
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:  "media media media media"
                          "link link info info";    
}

.quick-link a{
    color: var(--business-theme-fg);
}

.quick-link{
    grid-area: link;
    margin: 0 auto;
    text-align: center;
}

.social-media{
    grid-area: media;
    margin: 1em auto;
}

.social-media li{
    font-size: 2em;
    display: inline-block;
    padding: 0 0.5em;
}

.social-media a{
    color: var(--business-theme-fg);
}

.business-info{
    grid-area: info;
    margin: 0 auto;
    text-align: center;
}

.business-info a{
    color: var(--business-theme-fg);
}


/* CSS TO TOGGLE SHOW AND HIDE */
.show-hide{
    display: none;
}


/* BREAKPOINTS */
@media screen and (min-width: 65em) {
    
    .ham-menu {
        display: none;
    }

    .navbar {
        display: grid;
        grid-template-columns: 15em auto;
        grid-template-areas:  "logo menu"; 
    }

    .logo-container{
        grid-area: logo;
    }

    .nav-menus{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-areas:  "gap linebar" 
                              "gap menus";
    }

    .bar{
        grid-area: linebar;
        font-size: 2em;
    }

    .main-menu{
        grid-area: menus;
        display: flex;
        justify-content: space-between;
        margin: 0 5em 0 0;
    }
    
    .main-footer{
        display: grid;
        padding-top: 1em;
        grid-template-columns: auto;
        grid-template-areas:  "link info media";
    }

    .tagline{
        text-align: left;
        margin-left: 6em;
    }

    .tg-one{
        font-size: 2em;
        letter-spacing: 0.11em;

    }
    
    .tg-two{
        font-size: 2em;
        letter-spacing: 0.14em;
    }

    .consult{
        text-align: left;
        margin-left: 20em;
    }

    .section-header{
        text-align: center;
        font-size: 2em;
    }

    .sec-container-grid img{
        max-width: 9em;
    }

    .package-sec a{
        padding-top: 20%;
    }

    .about-sec{
        padding: 1em;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 2em;
    }

    .our-history{
        box-shadow: 0 8px 6px -6px var(--business-theme);
    }

    .focus-services{
        padding-top: 3em;
        box-shadow: 0 8px 6px -6px var(--business-theme);
    }

    .user-entry-form{
        text-align: left;
        margin: 0 auto;
    }

    .form-button{
        width: 30%;
    }

    .sec-container{
        margin: 2em 10em;
    }

    .packages{
        margin: 2em 10em;
    }
}
