<Section class="about-sec">
    <div class="our-history">
        <p class="page-header">Who we are? ~ What we do?</p>
        <p class="about-us">oneTnine Tech is the subsidiaries of oneTnine Inc., based in Brampton, Ontario, Canada. oneTnine tech deals and provides information technology services and currently offers full stack web design, development, and implementation services in the greater Toronto area (GTA).</p>
        <article>
            <p class="about-us">Our creative, energetic, and young team will better serve our clients with our experience and expertise in the field of information technology. Our business idea is to help individuals to uplift their business into next level by creating modern website which will in long run help their business to generate more revenue by targeting the right audiences.</p>
        </article>
    </div>

    <div class="focus-services">
        <p>We focus our services on:</p>
        <ul>
            <li>Interactive and Responsive Web Design</li>
            <li>Modern look and feel</li>
            <li>Scalable development</li>
            <li>Reliable service, maintenance, and support</li>
        </ul>
    </div>
    
</Section>
