<section>
    <form method="POST" action="/general/contact" class="user-entry-form">
        <p class="form-header">CONTACT US FORM</p>

        <ul class="form-box">
            <li><label for="firstname"></label></li>
            <li><input type="text" name="firstname" placeholder="First Name"></li><br>

            <li><label for="lastname"></label></li>
            <li><input type="text" name="lastname" placeholder="Last Name"></li><br>
        
            <li><label for="email"></label></li>
            <li><input type="email" name="emailAddress" placeholder="Email address"></li><br>
            
            <li><label for="description"></label></li>
            <li><input type="text" name="description" placeholder="Brief description about the project"></li><br>
        </ul>

        <div>
            <input type="submit" value="Submit" class="form-button">
        </div>
    </form>
</section>
