<section class="tag">
    <p class="tagline tg-one">We are here to uplift your</p>
    <p class="tagline tg-two">business into next level</p>
    <div class="consult">
        <a href="/contact/consult" class="consult-btn">Consult with our Expert</a>
    </div>
</section>