<section class="tag">
    <p class="tagline tg-one">We are here to uplift your</p>
    <p class="tagline tg-two">business into next level</p>
    <div class="consult">
        <a href="/contact" class="consult-btn">Consult with our Expert</a>
    </div>
</section>

<section>
    <div>
        <p class="section-header">Services</p>
    </div>
    <div class="sec-container">
        <div class="sec-container-grid">
            <a href="#"><img src="/img/web-design.png" alt="web design image"></a>
            <p class="sec-par">Web Design</p>
        </div>
        <div class="sec-container-grid">
            <a href="#"><img src="/img/system_development.png" alt="system development image"></a>
            <p class="sec-par">System Development</p>
        </div>
        <div class="sec-container-grid">
            <a href="#"><img src="/img/implementation.png" alt="implementation image"></a>
            <p class="sec-par">Implementation</p>
        </div>
    </div>
</section>

<section class="packages-sec">
    <div>
        <p class="section-header packages-header">Packages</p>
    </div>
    <div class="packages">
        <div class="packagecontainer">
            <div class="thecard">
                <div class="thefront">Base Package</div>
                <div class="theback base-back"> 
                    <a href="#" class="card-btn">LEARN MORE</a>
                </div>
            </div>
        </div>
        <div class="packagecontainer">
            <div class="thecard">
                <div class="thefront">Combo Package</div>
                <div class="theback combo-back"> 
                    <a href="#" class="card-btn">LEARN MORE</a>
                </div>
            </div>
        </div>
        <div class="packagecontainer">
            <div class="thecard">
                <div class="thefront">All in Package</div>
                <div class="theback allin-back"> 
                    <a href="#" class="card-btn">LEARN MORE</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div>
        <p class="section-header">Recent Work</p>
    </div>
    <div class="sec-container">
        <div class="sec-container-grid">
            <a href="#"><img src="/img/humber-media-pro.PNG" alt="web design image"></a>
            <p class="sec-par">Humber Media</p>
        </div>
        <div class="sec-container-grid">
            <a href="#"><img src="/img/onetnine-travels.PNG" alt="system development image"></a>
            <p class="sec-par">oneTnine Travels</p>
        </div>
    </div>
</section>
